#home
  %h1= "Start contributing to Open Source projects today!"

  .language-list
    %h2= "Find beginner friendly issues in"

    - @language_names.each do |language_name|
      = link_to language_name, issues_path(language_name: language_name)

  .info.col-xs-12.col-sm-12.col-md-12.col-lg-12
    .contributor.col-xs-12.col-sm-6.col-md-6.col-lg-6
      %button.btn.btn-default.col-xs-7.col-xs-offset-5
        = "I'm a beginner. How do I start?"

    .maintainer.col-xs-12.col-sm-6.col-md-6.col-lg-6
      %button.btn.btn-default.col-xs-7
        = "I'm a maintainer. How can I help?"
