#home
  %h1= "Want to start contributing to Open Source?"

  .language-list
    %h2= "Find beginner friendly issues in"

    - @languages.each do |language|
      .language-badge
        = language

  .info.col-xs-12.col-sm-12.col-md-12.col-lg-12
    .contributor.col-xs-12.col-sm-6.col-md-6.col-lg-6
      %button.btn.btn-default.col-xs-7.col-xs-offset-5
        = "I'm a beginner. What should I do?"

    .maintainer.col-xs-12.col-sm-6.col-md-6.col-lg-6
      %button.btn.btn-default.col-xs-7
        = "I'm a maintainer. How can I help?"
