#home
  .center.hero-unit
    %h1= "Open Source for Everyone"
    %p= "This is a collection of beginner friendly open source projects to make it easier for you to start contributing."

    #search
      %form{ action: "/issues", method: "get", class: "form-inline" }
        = text_field_tag(:language, nil, placeholder: 'Pick a language', class: 'form-control')
        = submit_tag('Go!', class: 'btn btn-default', name: nil)

  .project-list
    %h2= "Popular Projects"

    = render @projects, view: :index