- project ||= @project
.stripe
  %h2= project.name
.project
  .description
    %p= project.description
  .github
    %button.btn.btn-default
      = image_tag("octocat.png", size: "22x22")
      %span= "View on GitHub"
  .project-languages
    = render project.languages, view: :badge_center


  .issue-list
    = render @issues, view: :index_project