<!DOCTYPE html>
<html>
<head>
  <title>Startopensource</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>

<%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>
